body{
    text-align: center;
    color: #f9f7f7;
background: linear-gradient(to right, #48589a, #3d6cac, #a18cd1, #de7b29);
max-width: 100%;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}
.logo{
    margin-top: 10px;
    font-size: small;
display: flex;
flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: auto;
}
.menu{
    background-color: #f7f7f82f;
    border-radius: 5px;
    max-width: 100%;
    text-align: center;
    margin: auto;
}
.menu ul{
    display: flex;
    justify-content: center;
    padding-left: 0;
    gap: 10px;
    position: relative;
}