body{
    color: gold;
 background: linear-gradient(135deg, #0a3161 0%, #b31942 50%, #ffffff 100%);
}
header{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: small;
    gap: 20px;
    margin-bottom: 10px;
}
header img{
    width: 80px;
    box-shadow: 0 0 5px white;
    border-radius: 30px;
}
.usa{
    width: 100%;
    max-height: 400px;
    /* object-fit: cover; */
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 0%;
}
.cont{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}
.cont p{
    text-align: center;
    border-radius: 5px;
    background: #81b3f451;
    width: auto;
    font-size: small;
    padding: 5px;
    margin: auto;
}
.city-grid {
    text-align: center;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
}

.city {
    color: #0a3161;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.city:hover {
    transform: scale(1.05);
}

.city img {
    width: 300px;
    height: 200px;
    margin-bottom: 0%;
}
.city video{
    width: 100%;
    height: 200px;
    margin: 0px;
    padding: 0px;
}

.city h3 {
    padding: 10px;
    text-align: center;
    background-color: #f8f8f8;
    margin: 0;
}
.facts h2{
    color: #0a3161;
    text-align: center;
    margin: 20px;
}
.disc{
    text-align: center;
    font-size: small;
    margin: 20px;
}
table {
    color: #0a3161;
    width: 100%;
    margin: 20px 0;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}
.conseil{
color: #0a3161;
border-radius: 5px;
border: solid 1px white;
padding: 10px;
padding-top: 0%;
}
.conseil h2{
    padding-left: 30px;
}
.lien{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.slide {

    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 20px;
}

.item {
    color: #170653;
    flex: 0 0 auto;
    width: 300px;
    border-color: #f4f2f2;
    /* background: linear-gradient(45deg, #f84646 0%, #547ff3 50%, #f2eeee 100%); */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.item img{
    width: 100%;
    border-radius: 8px;
}
footer{
    margin: auto;
    font-size: x-small;
    text-align: center;
 background: linear-gradient(
  135deg,
  #de1a37 0%,
  #1a0b8e 50%,
  #dfdede 100%);
    max-width: 100%;
    padding: 10px;
    padding-top: 5px;
    margin-top: 10px;
    color: #ddd;
}
.footer{
    font-size: xx-small;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
padding-left: 5px;
}
a{
    text-decoration: none;
    color: #f5f4f4;
}
footer img{
    width: 70px;
}
@media screen and (min-width: 1024px) {
    body {
        font-size: 18px;
    }

    header {
        font-size: medium;
        gap: 40px;
    }

    header img {
        width: 100px; 
    }

    .cont {
        gap: 30px; 
    }

    .cont p {
        font-size: medium; 
        padding: 10px; 
    }

    .city-grid {
        gap: 20px;
    }
    table {
        width: 60%; 
        margin: 20px auto; 
    }
    .facts h2{
    color: gold;
    margin: 20px;
}

    .conseil {
        padding: 20px; 
    }
    .disc{
        font-size: large;
    }
    .slide{ text-align: center;
         /* max-width: 800px; */
    margin: auto;
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 20px 0;
    }
    .item {
    max-width: 400px;
}
.item img {
    width:100%;
    object-fit: cover;
    border-radius: 5px;
}
    
    footer {
        font-size: small; 
    }

    .footer {
        font-size: larger;
        gap:300px; 
    }

    footer img {
        width: 200px;
    }
    .lien{
    gap: 200px;
}
}